body {
    background-color: rgb(210, 229, 248);
    
}

.navbar {
    background-color: rgb(59, 57, 57)
}

.navbar-header {
    border: black solid 1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    
}
.navbar-header span {
    color: white;
    font-family:'Caprasimo', cursive;
    font-size: 15px;
}

.auth-btns {
    margin-right: 100px;
    font-family: 'Varela Round', sans-serif;
}

.auth-btns li {
    margin: 10px
}

.welcome {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 500;
    font-family:'Caprasimo', cursive;
}



.welcome-btns form {
    text-align: center;
    margin: 20px;
    font-family: 'Varela Round', sans-serif;
}


#random-question {
    text-align: center;
    margin-top: 20px;
}

#question, .auth-headers{
    font-family:'Caprasimo', cursive;
}

.answer {
    font-family: 'Varela Round', sans-serif;
}


#random-question-btns {
    width:100%;
    text-align: center;
    margin-top: 15%;
    position: fixed;
    
}

.rand-btn {
    display: inline-block;
    margin: 10px;
    font-family: 'Varela Round', sans-serif;
    
}

.user-tests {
    text-align: center;
    margin-top: 20px;
    font-family:'Caprasimo', cursive;
}

.list-group-item {
    text-align: center;
    margin: 2px;
    width: 20rem;
}

#list-test{
    text-align: center;
}

#list-test ol{
    display: inline-block;
    text-align: left;
}
#list-test ol li{
    font-family: 'Varela Round', sans-serif;
}

.card-title, .card-text, .card-subtitle, .card-header{
    font-family: 'Varela Round', sans-serif;
}

.card {
    margin:5px;
  
   
    /* background-color: rgba(53, 51, 51, 0.199); */
}

.card-text {

    
    width: 5rem;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

.correct {
    
background-color: rgba(187, 238, 177, 0.466);
    
}

.incorrect {
    
    background-color: rgba(236, 145, 145, 0.445);
   
}

 #cards-back-btn {
    /* margin-left: 50px;
    margin-top: 50px; */
    
    
    margin-left: .5%;
    display: inline-block;
    position: relative;
}

#heading {
    text-align: center;
    margin: 20px;
    font-family:'Caprasimo', cursive;
}
.box {
    padding: 2em;
  }
.item {
    margin-bottom: 1.5em;
  }

.form-check-label {
    font-family: 'Varela Round', sans-serif;
}

.questions-btn {
    margin-left:1.75%;
    margin-top: 10px;
}

#test-questions {
    margin: 10px;
  
}

.test-instance{
    align-items: center;
    margin: 0 auto; 
    margin-bottom: 10px; 
    margin-top: 4rem;
    float: none; 
}

.answer-input {
    margin-left: 10px
}


.auth-form {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    width: 20rem

}

 .form-group label {
    margin-top: 20px;
    font-family: 'Varela Round', sans-serif;
}

.start-btn {
    margin-top: 20px;
}

#completed-container {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    

}

#completed-container button {
    margin: 10px
}