{% extends 'base.html' %}
{% block content %}
<h1 class="user-tests">Select the questions you would like to test yourself on</h1>
<form action="/create_new_test" method="POST">
    <div class="box">

        {% for question in saved_questions %}

        <div class="form-check item">

            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="question"
                    id="question" value="{{question.question}}">

                {{question.question}}
            </label>

        </div>
        {% endfor %}

    </div>
    <button class="btn btn-dark questions-btn">Start Test</button>
</form>
{% endblock %}