{% extends 'base.html' %}
{% block content %}
<h1>Select the questions you would like to test yourself on</h1>
<form action="/create_new_test" method="POST">
    <div class="box">
        {% for question in saved_questions %}

        <div class="item">
            <div class="checkbox-rect2">
                <input type="checkbox" name="question" id="question checkbox-rect2" value="{{question.question}}">
                <label for="question checkbox-rect2">{{question.question}}</label>
            </div>
        </div>
        {% endfor %}
    </div>
    <button>Start Test</button>
</form>
{% endblock %}