{% extends 'base.html' %}
{% block content %}


<h1 id="heading">Your Test Questions</h1>
<div id="test-cards" class="row d-flex justify-content-center">
    {% for question in questions %}
    <div class="card questions" style="width: 18rem; -ms-flex-align: center;">
        <div class="card-body">
            <h5 class="card-title">{{question.question_answer.question}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><b>correct answer:</b> {{question.question_answer.answer}}</h6>

            {% if question.correct == "true" or question.correct == "t" or question.correct == True %}
            <p class="card-text correct">
                Correct
            </p>
            {% else %}
            <p class="card-text incorrect">
                Inorrect
            </p>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>
<form action="/my_test"><button id="cards-back-btn" class="btn btn-dark">Back</button></form>
{% endblock %}