{% extends 'base.html' %}
{% block content %}
<h1>{{question.question}}</h1>
<form action="/test/answers/{{question.id}}" method="POST">
    {% for answer in possible_answers %}
    <label for="answer">{{answer}}</label>
    <input type="radio" name="answer" value="{{answer}}" required>
    <br>
    {% endfor %}

    {% if question.question == session["questions"][-1]["question"] %}
    <button>Finish</button>
    {% else %}
    <button>Next</button>
    {% endif %}
</form>
{% if question.question != session["questions"][0]["question"] %}
<form action="/test/{{index - 1}}"><Button>Back</Button></form>
{% endif %}
{% endblock %}