{% extends 'base.html' %}

{% block content %}
<div id="random-question">
    <h1 id="question">{{trivia_response.question}}</h1>
    <h2 id="answer" hidden>{{trivia_response.answer}}</h2>
</div>

<div id="random-question-btns">
    <button class="rand-btn btn btn-dark" id="answer-btn">Show Answer</button>
    <button class="rand-btn btn btn-dark" id="save-question">Save Question</button>
    <form action="/random_questions" class="rand-btn"><button class="btn btn-dark">Next Question</button></form>
</div>





{% block javascript %}
<script>
    let answerBtn = document.getElementById("answer-btn");
    let answer = document.getElementById("answer");
    let question = document.getElementById("question")
    let saveBtn = document.getElementById("save-question")

    answerBtn.addEventListener("click", function () {
        answer.removeAttribute("hidden");
    });


    async function sendData(e) {
        e.preventDefault()
        response = await axios.post("/save_question", data = { question: question.innerText, answer: answer.innerText })
        alert("saved")
        return response
    }

    saveBtn.addEventListener("click", sendData)



</script>
{% endblock %}
{% endblock %}